*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 100%;
	color: #666;
}

a {
  display: inline-block;
  width:33%;
	color: #333;
	text-decoration: none;
  vertical-align: top;
}

a:hover {
	text-decoration: underline;
}

section,
footer {
	width: 61.8%;
	max-width: 1200px;
	margin: 0 auto;
  text-align: center;
}

footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}

svg {
  max-width:100%;
  height: auto;
  margin: 2.617924em 0;
}

/*------- Clearfix -------*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* Queries ---------------------------- */

/* Mobile Landscape */
@media only screen and (max-width: 480px) {
  section,
  footer {
    width: 90%;
  }
}
