
/*------- Das Styles -------*/

body {
	background-color: $bg-body;
}

header,
section,
footer {
	max-width:100%;
	max-width: $block-width;
	margin: 0 auto;
}

#skullySkull {
	display: none;
}

.nope {
	display: none;
}

.about {
	position: absolute;
	top: 1rem;
	left: 1rem;
}