/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;
$white:       #fff;

$bg-body: #fcb215;

/* Type Scale
   ========================================================================== */

/**
 * Golden Ratio
 */

$font-size-1:2.618em;
$font-size-2:1.824em;
$font-size-3:1.618em;
$font-size-4:1.127em;
$font-size-5:1em;
$font-size-6:0.618em;

$padding-lg: $font-size-1;
$padding-md: $font-size-2;
$padding-sm: $font-size-3;

/* Main Block width */
$block-width:32.724em;